<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Titre</title>
         <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 
		<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container-fluid">
            <h1 style="text-align: center;">Du gras, oui, mais de qualité!</h1>
            <h2 style="text-align: center;">Trouvez un produit de substitution <br> pour ceux que vous consommez <br> tous les jours.</h2>
            <p style="text-align: center;"><input type="" name=""></p>
        </div>
        <hr>
        <h2 style="text-align: center;">Colette et Remy</h2>
        <div class="row">
            <div class="col-sm-6" >
                <img src="images/colette.png" align="right">                
            </div>
            <div class="col-sm-6" >
                <img src="images/remy.jpg" style="width: 300px">                
            </div>
        </div>
        <hr>
        <h2 style="text-align: center;">Contactez-nous !</h2>
        <div class="container-fluid">
            <div>
                <p align="center">
                <i class="fas fa-phone" style="color:#c45525;" style="margin-right: 5%"></i>
                <i class="fas fa-envelope" style="color:#c45525; margin-left: 5%" ></i>    
                </p>
            </div>
        </div>
</html>
